VITE_APP_NAME=RealEstateViews
VITE_API_ORIGIN=http://localhost:5000
VITE_API_PREFIX=/api
VITE_PORT=3000


# Sanity CMS
VITE_SANITY_DATASET=production
VITE_SANITY_PROJECT_ID=qwerty123
VITE_SANITY_API_VERSION=2025-01-01
VITE_SANITY_USE_CDN=true

# Other
I18N_DEFAULT_LANGUAGE=en