MONGO_ROOT_USERNAME=username
MONGO_ROOT_PASSWORD=supersecretpassword
MONGO_DATABASE=propername
MONGO_PORT=27017

JWT_ISSUER="RealEstate"
JWT_AUDIENCE="RealEstate.Client"
JWT_SIGNING_KEY="super-secret-key-change-me-12345"
JWT_ACCESS_TOKEN_MINUTES="60"

AUTH_SEED_ADMIN_EMAIL="admin@realestate.local"
AUTH_SEED_ADMIN_PASSWORD="admin12345#"