# Ansible / Terraform secrets
.terraform/
.terraform.lock.hcl
prod.*.tfvars
*.tfstate
*.tfstate.backup
*.log
crash.log
terraform.tfvars
secrets.auto.tfvars
secrets.backend.tfvars
vault-password
!.env.*.j2

# Env/Config
.env
.env.*
!.env.*.example

# .NET appsettings
appsettings.*
appsettings.*.json
!appsettings.example.json

# OS
.DS_Store
Thumbs.db

# Rider
.idea/
*.sln.iml
*.csproj.iml

# Node
node_modules/
dist/
build/
.vite/
.cache/

# .NET
**/bin/
**/obj/
**/*.user
**/*.suo
**/*.cache
**/*.log
TestResults

# Sanity
.pnp
.pnp.js
.sanity
*.pem

# Other
.vscode/
*.log
*.log*
/coverage
scripts/.seed/
personal_notes.*

# Typescript
*.tsbuildinfo